page-add {


      .overflow{ 
          contain:none;
           overflow: visible; 
           top: 10px;
           right: 0;
           left: 0;
           margin: auto;
           z-index: 10;
        color:black;    }


}
